<div class="nutrition-facts" id="nutrition-label">

  <div class="title">
    Información Nutricional
  </div>

  <div class="serving">
    Tamaño por porción 100 g
  </div>

  <div class="divider thick"></div>

  <div class="row bold">
    <span>Cantidad por porción</span>
  </div>

  <div class="row calories">
    <span>Calorías</span>
    <span>260</span>
  </div>

  <div class="divider thick"></div>

  <div class="row small bold">
    <span></span>
    <span>% Valor Diario*</span>
  </div>

  <div class="row">
    <span><b>Grasa Total</b> {{ data.grasa_total ?? 0 }} g</span>
    <span>20%</span>
  </div>

  <div class="row indent">
    <span>Grasa Saturada {{ data.grasa_saturada ?? 0 }} g</span>
    <span>10%</span>
  </div>

  <div class="row">
    <span><b>Carbohidratos</b> {{ data.carbohidratos_totales ?? 0 }} g</span>
    <span>15%</span>
  </div>

  <div class="row indent">
    <span>Azúcares {{ data.azucares_totales ?? 0 }} g</span>
    <span></span>
  </div>

  <div class="row">
    <span><b>Proteína</b> {{ data.proteina ?? 0 }} g</span>
    <span></span>
  </div>

  <div class="row">
    <span><b>Sodio</b> {{ data.sodio_mg_100g ?? 0 }} mg</span>
    <span>8%</span>
  </div>

  <div class="divider thick"></div>

  <div class="vitamins">
    Calcio {{ data.calcio_mg_100g ?? 0 }} mg
  </div>

  <div class="footer">
    * Los porcentajes de valores diarios están basados
    en una dieta de 2000 calorías.
  </div>

</div>

<button class="pdf-button" (click)="downloadPDF()">
  Descargar PDF
</button>
